.frm{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
   
}

.f{
    
    width: 20%;
    margin: 2%;
}

.s{
width: 20%;
}

.b{
    width: 20%;
}

.err{
    font-size: 44px;
    color: red;
}

.er{
    font-size: 44px;
    color: red;
}