.logo_container{
    
    margin-left: 5%;
}

.input_container{
  display: flex;
  justify-content: flex-end;
}
.spn{
    display: flex;
    margin-right: 5%;
    justify-content: center;
}

.header{
    background-color: aqua;
}

.btn_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20%;
}

.btn_f{
    margin: 5%;
  

}


.triangle{
  margin-right: 5%;

}




